{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  | Account Dashboard
{% endblock title %}

{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">User Dashboard</h1>
          <p class="lead">Manage your account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="bs-docs-header" id="content" tabindex="-1"></div>
      <div class="container"> 
        <div class="col-md-12">
          <div class="float-right" title="Create a new Directory Project">
            <a href={% url 'createnew' %} class="btn btn-outline-info"><i class="fa fa-plus"></i> Create</a>
          </div>
          <h2>Welcome {% if user.is_authenticated %}{{ user.username }}{% endif %}</h2>
          {% if dir_project %}

            {% for dir in dir_project %}
              <div class="card border-info mb-3" id="card{{ dir.id }}">
                <div class="card-header">Project ID: 
                  <a href = "{% url 'search' %}?dirProj={{ dir.id }}" onclick="this.closest('form').submit();return false;">{{ dir.id }}</a>
                </div>
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name</span>
                    </div>
                    <div class="col-xs-2">
                      <input id="name{{ dir.id }}" type="text" class="form-control" value="{{ dir.name }}">
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description</span>
                    </div>
                    <input id="des{{ dir.id }}" type="text" class="form-control" value="{{ dir.description }}">
                    <div class="input-group-append">
                    <button id="edit{{ dir.id }}" class="btn btn-sm btn-secondary" type="button" onclick="UpdatePro(this)">Update</button>
                    <button id="delete{{ dir.id }}" class="btn btn-sm btn-danger" type="button" onclick="DeletePro(this)">Delete</button> 
                    </div>
                  </div> 
                </div>
              </div>
            {% endfor %}
          
          {% endif %}
        <br>
        <small class="text-muted">Last Login: {% if user.is_authenticated %}{{ user.last_login|naturaltime }}{% endif %}</small>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">
  function DeletePro(x){
    var token = '{{csrf_token}}';
    var dir_id = x.id.replace("delete", "");
    var r = confirm("Are you sure to delete?");
    if(r == true){
      $.ajax({ 
            headers: { "X-CSRFToken": token },
            url: '{% url 'dashboard' %}',
            data: JSON.stringify({ type: "delete", dir_id: dir_id }),
            type: 'POST',
            contentType : 'application/json',
        }).done(function(responseData) {
            $('#card'+dir_id).fadeOut(700);
            setTimeout(function(){
              $('#card'+dir_id).load('{% url 'dashboard' %} #card'+dir_id)
            }, 700);
            console.log('Done');
        }).fail(function() {
            console.log('Failed');
        });
    }
  }

  function UpdatePro(x){
    var token = '{{csrf_token}}';
    var dir_id = x.id.replace("edit", "");
    var dir_name = $("#name"+dir_id).val();
    var dir_des = $("#des"+dir_id).val();

    $.ajax({ 
            headers: { "X-CSRFToken": token },
            url: '{% url 'dashboard' %}',
            data: JSON.stringify({ type: "edit", dir_id: dir_id, dir_name: dir_name, dir_des: dir_des }),
            type: 'POST',
            contentType : 'application/json',
        }).done(function(responseData) {
            $('#card'+dir_id).fadeOut(700).fadeIn(500);
            console.log('Done');
        }).fail(function() {
            console.log('Failed');
        });
  }
</script>

{% endblock content %}

