{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block title %}
  | Validation {{ ocr_file.file_name }} Page {{ page_number }}
{% endblock title %}

{% block content %}

<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> <a href="{% url 'ocrfiles' %}">
              <i class="breadcrumb-item active"></i> Browse Ocr Files</a></li>
          <li class="breadcrumb-item active"> {{ ocr_file.file_name }} Page {{ page_number }}</li>
        </ol>
      </nav>
    </div>
</section>


    {% if converted_image %}
      {% for conv_image in converted_image %}

          <div id="card_board" class="card flex-row flex-wrap">
            <div class="card-header border-0" >
              <img src="{{ MEDIA_URL }}{{ conv_image.textRegion_image_url }}" alt="" class="rounded img-thumbnail card-img-top" usemap="#image-map" id="textMap">
              <map name="image-map" >
                <area id="myArea" alt="" href="#" coords="" shape="rect">
                {% if validation_text %}
                    {% for text in validation_text %}
                      <area id="area{{ text.id }}" alt="" href="#" coords="" shape="rect"  onclick="mapMouseClick(this)"></area>
                    {% endfor %}
                  {% endif %}
              </map>
            </div>
            <div class="card-body px-3">
              <h4 class="card-title text-center" style="margin-left: 10px;">Validation</h4>
              <div class="wrapper">
              <div class="scrollbar scrollbar-primary " id="scrollbar">
                <ul class="list-group list-group-flush">
                  {% if validation_text %}
                    {% for text in validation_text %}
                      <input type="text" class="list-group-item" id="text{{ text.id }}" name="{{ text.id }}" onmouseover="coordsTransIn(this)" onmouseout="coordsTransOut(this)" value="{{text.get_text}}"></input>
                    {% endfor %}
                    {% else %}
                      <span class="label label-warning">No text recognized!</span>
                  {% endif %}
                </ul>
              </div>
            </div>
            </div>
            <div class="float-right" style="position: relative;" title="Copy all to clipboard">
              <button onclick="CopyAll()" class="btn btn-outline-info"></i> Copy All</button>
            </div>
          </div>
      {% endfor %}
    {% else %}
      <div class="col-md-12">
        <p>No Files Available</p>
      </div>
    {% endif %}
    <textarea id='copy' style="display: none"></textarea>

<script src="{% static 'js/jquery.maphilight.js' %}"></script>
<script type="text/javascript">

window.onload = function(){
  $('#textMap').maphilight();
  var myimg = document.getElementById("textMap");
  var realH = myimg.height;
  var realW = myimg.width;

  var card_board = document.querySelector('#card_board');
  var cardW = realW + 300;
  card_board.style.width = cardW + "px";

  {% for text in validation_text %}
    var id = {{ text.id }}
    var startX = {{ text.startX }} * realW;
    var startY = {{ text.startY }} * realH;
    var endX = {{ text.endX }} * realW;
    var endY = {{ text.endY }} * realH;
    result = startX + "," + startY + "," + endX + "," + endY;
    document.getElementById("area" + id).setAttribute("coords",result);
    $('#area'+id).maphilight();
    $('#text' + id).mouseover();
    $('#text' + id).mouseout();
  {% endfor %}
}

function CopyAll(){
  var text = "";
  var id;
  {% for text in validation_text %}
    id = {{ text.id }}
    text = text.concat(document.getElementById("text" + id).value, " ");
  {% endfor %}
  document.getElementById("copy").setAttribute("value", text);
  $("#copy").show().val(text)[0].select();
  document.execCommand("copy");
  $("#copy").hide();
  alert("Copied successfully!")
}


function mapMouseClick(x){
  var id = x.id.replace("area", "");
  var scrolltop = $(document).scrollTop();

  $(document). on ( 'scroll.unable' ,function (e) {
         $(document).scrollTop(scrolltop);
  });
  $('#text' + id).trigger("focus");
  setTimeout(()=>{
    $(document).unbind( "scroll.unable" );
  },100);
}

$(document).ready(function(){
    $(".list-group-item").on('change', function postinput(){
        var changedValue = $(this).val();
        var validation_id = this.id.replace("text","");
        var token = '{{csrf_token}}';
        var ocr_id = {{ocr_id}};
        var page_number = {{page_number}};
        $.ajax({ 
            headers: { "X-CSRFToken": token },
            url: '{% url 'validation' ocr_id  page_number %}',
            data: JSON.stringify({ changedValue: changedValue, validation_id: validation_id }),
            type: 'POST',
            contentType : 'application/json',
        }).done(function(responseData) {
            console.log('Done');
        }).fail(function() {
            console.log('Failed');
        });
    });
}); 

function coordsTransIn(x){
  var myimg = document.getElementById("textMap");
  var realH = myimg.height;
  var realW = myimg.width;
  var cardW = 700 - realW;
  var cardH = realH - 50;
  var result;
  document.getElementById('scrollbar').style.height = cardH + "px";
  document.getElementById('scrollbar').style.width = "180px";

  {% for text in validation_text %}
    if({{ text.id }} == x.id.replace("text", "")){
      var startX = {{ text.startX }} * realW;
      var startY = {{ text.startY }} * realH;
      var endX = {{ text.endX }} * realW;
      var endY = {{ text.endY }} * realH;
      result = startX + "," + startY + "," + endX + "," + endY;
    }
  {% endfor %}
  x.setAttribute("style", "background-color: red; opacity: 0.6; border-radius: 3px;");
  document.getElementById("myArea").setAttribute("coords",result);
  var data = {};
  $('#myArea').mouseover();
  $('#myArea').maphilight();
  $('#myArea').data('maphilight', data);
}

function coordsTransOut(x){
  x.setAttribute("style", "background-color: white;");
  document.getElementById("myArea").setAttribute("coords", "");
  $('#myArea').mouseout();
}
</script>
{% endblock content %}


{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/validation.css' %}">
  <link rel="stylesheet" href="{% static 'css/highlight.css' %}">
{% endblock extrastyle %}